xml-performance/test-drive-xml-jaxb/src/test/resources/org/jesperancinha/test/drive/xml/testXmlFile.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.joaofilipesabinoesperancinha.nl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="book">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="pages"/>
        <xs:element type="xs:string" name="genre"/>
        <xs:element type="xs:string" name="author"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>